apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: upload
          image: docker.io/broga/admin-app:{{ .Values.env.APP_VERSION }}
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: '250m'
              memory: '100Mi'
            limits:
              cpu: '500m'
              memory: '200Mi'
