name: CD

on:
  push:
    branches:
      - master
      - main
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKERHUB_KEY: ${{ secrets.DOCKER_KEY }}
  ADMIN_IMAGE_NAME: admin-app
  CONTENT_IMAGE_NAME: content-app
  DETECTION_IMAGE_NAME: detection-app
  UPLOAD_IMAGE_NAME: upload-app

jobs:
  #   build-and-deploy:
  #     runs-on: ubuntu-latest
  #     strategy:
  #       matrix:
  #         app: [admin-app, content-app, detection-app, upload-app]
  #     steps:
  #       - name: Login to Docker Hub
  #         uses: docker/login-action@v1
  #         with:
  #           username: ${{ env.DOCKERHUB_USERNAME }}
  #           password: ${{ env.DOCKERHUB_KEY }}
  #       - name: Checkout code
  #         uses: actions/checkout@v2

  #       - name: Build Docker image
  #         run: |
  #           cd ${{ matrix.app }}
  #           docker build -t ${{ env.DOCKERHUB_USERNAME }}/${{ matrix.app }}:${{ github.sha }} .

  #       - name: Push Docker image
  #         run: |
  #           docker push ${{ env.DOCKERHUB_USERNAME }}/${{ matrix.app }}:${{ github.sha }}

  update-values:
    # needs: build-and-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Update values.yaml
        run: |
          cd helm
          sed -i 's|APP_VERSION:.*|APP_VERSION: '${{ github.sha }}'|' values.yaml

      - name: Commit changes
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git add helm/values.yaml
          git commit -m "Update APP_VERSION in values.yaml"
          git push
